extends layout

block content
  section.section.section--fullpage.text-center
    .container
      h1.jumbo 404
      h2 
        a(href="/") You might have lost your way. Let's get you back home.
      .button--group
        a(href="#").button download resume
        a(href="portfolio").button view portfolio