extends layout

block link
  -var selected="About"

block content
  include ./nav
  section.section
    .container.clearfix
      h2 About
      p Current Austin resident, I've had had an interest in technology and web development since an early age. Since the time of Yahoo Geocities and America Online I have wanted to build my own niche on the internet.
      p I graduated in 2012 with a Bachelors of Science degree in Information Technology from Florida State University and specialized in web development, database, and programming courses. During my time time at FSU I picked up various internships to continue to learn about web development and see what a career in the tech field is like.
      p Needless to say I was smitten. Between my course work and internships, I decided to set my career sites on web developer. After graduating I was hired as a Junior PHP developer for Zimmerman Advertising where I cut my teeth professionally building websites for clients like Party City and WhiteCastle for a year.
      p I currently live in Austin, Texas and work as a Front-End Developer for IBM's Cloud Division working extensively with Node.js, React.js, and Python.
      h3 Ways to reach me
      p Phone: 954-643-0549
      p Email: 
        a(href="mailto:david@davidmenendez.net") david@davidmenendez.net
      p Linkedin: 
        a(href="http://www.linkedin.com/in/davidamenendez" target="blank") in/davidamenendez
      p Github: 
        a(href="https://github.com/davidmenendez" target="blank") git/davidmenendez
      h3#resume Resume
      p Download for safe keeping
      .button--group
        a(href="#" target="blank").button.button--black PDF download
        a(href="#" target="blank").button.button--black DOC download
      .resume--entry
        h4 Front-End Developer
        p
          a(href='http://www.ibm.com/', target='_blank') IBM
        p 8/15 - Current
        p Extensive front-end work using HTML5, CSS3, React, Node.
      .resume--entry
        h4 Interactive Developer II
        p
          a(href='http://www.blackbaud.com/', target='_blank') Blackbaud INC
        p 10/13 - 8/15
        p Extensive front-end work using HTML5, CSS3, JavaScript, and jQuery.
        p Work with multiple clients, in some cases lead role, such as Make A Wish Foundation, American Cancer Society, Colorado Chilrdrens Hospital to maintain and develop their websites.
      .resume--entry
        h4 Jr. PHP Web Developer 
        p
          a(href='http://www.zadv.com', target='_blank') Zimmerman Advertising
        p 9/12 - 9/13
        p Developing, Creating, and Maintaining websites for our clients, including; Party City, Whitecastle, and Bikestreet USA
        p Extensive front-end work using HTML5, CSS3, JavaScript, and jQuery. Back-end development with .Net MVC4, PHP, WordPress, and SQL.
      .resume--entry
        h4 Web Designer
        p
          a(href='http://www.hpmi.net', target='_blank') High Performance Materials Institute
        p 2/12 - 5/12
        p Designed a new website design using Photoshop
        p Created and developed prototype layouts using HTML, CSS, JavaScript, and PHP
      .resume--entry
        h4 Assistant Web Master
        p
          a(href='http://www.floridapressclub.org', target='_blank') Florida Press Club
        p 6/11 - 2/12
        p Maintained Website and Content using HTML, CSS, WordPress, and some PHP
        p Worked with MySQL Database creation, backup, and upgrading
        p Performed Website migration from standard HTML website to a WordPress Blog format
      .resume--entry
        h4 Technical Support
        p
          a(href='http://www.arf.fsu.edu', target='_blank') Antarctic Research Facility 
        p 1/11 - 8/11
        p Maintained Website and Content using HTML, CSS, and some PHP
        p Supported Desktops and Users by setting up security with AVG, E-mail with Thunderbird, other software, and troubleshooting everyday problems