extends layout

block content
  .section.section--fullpage.text-center
    .container
      h1.jumbo David Menendez
      h2 Professional Frontend Web Developer
      h3
        a(href="#").button download resume
        a(href="#").button view portfolio
  .section.text-center
    .container
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed lacus sit amet tortor hendrerit iaculis at in erat. Pellentesque varius posuere gravida. Donec mattis diam mauris, non dapibus elit placerat vel. Nullam vitae dui justo. Nullam iaculis tellus quis porta pharetra. Etiam aliquam tellus congue diam facilisis, a condimentum lectus maximus. Morbi a lectus id ligula pulvinar viverra in sed enim. Sed sodales hendrerit nulla eu commodo. Suspendisse pellentesque tellus in metus congue, at molestie diam sodales. Integer dignissim dignissim finibus. Suspendisse congue turpis eget diam ullamcorper, vitae fringilla ipsum maximus. Nulla facilisi. Integer rutrum pellentesque elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam lacinia, mi sed vehicula malesuada, augue ante efficitur quam, id ullamcorper nisl orci in ligula. Quisque viverra lacus ac pulvinar placerat.