extends layout

block content
  section.section.section--fullpage.text-center
    .container.clearfix
      h1.jumbo David Menendez
      h2 Front-End Web Developer
      .button--group
        a(href="#").button download resume
        a(href="portfolio").button view portfolio
  section.section.text-center
    .container.clearfix
      h2 What I do
      p I'm a Front-End developer, based out of Austin, that specializes in eye-appealing web experience.
      .row.clearfix
        .col.col--3
          i.fa.fa-html5.fa--lg.fa--rounded
          h3 Front-End
          p HTML5, CSS3, Responsive Design, JavaScript, React framework, & jQuery. Knowledge of Cross Browser Compatibility & SEO.
        .col.col--3
          i.fa.fa-code.fa--lg.fa--rounded
          h3 Back-End
          p Working knowledge of serverside coding with Node, PHP, & MySQL. Experienced with building RESTful APIs.
        .col.col--3
          i.fa.fa-code-fork.fa--lg.fa--rounded
          h3 Tools
          p Git, Adobe Photoshop, & Content Management Systems. Build tools such as Gulp for more efficient delivery & coding.
      p
        a(href="about").button.button--black About
  section.section.text-center
    .container.clearfix
      h2 Work
      p During my web development career I've had clients ranging from Make-A-Wish Foundation, PartyCity, and IBM.
      p Check out some of the work I've accomplished professionally.
      .row.clearfix
        .col.col--3.workpreview
          a(href="/portfolio")
            figure
              img(src="/images/work/nhm/national-hamburger-month1.jpg" alt="national hamburger month")
              figcaption
                p National Hamburger Month
        .col.col--3.workpreview
          a(href="/portfolio")
            figure
              img(src="/images/work/zblog/zna4.jpg" alt="zimmerman blog")
              figcaption
                p Zimmerman Blog
        .col.col--3.workpreview
          a(href="/portfolio")
            figure
              img(src="/images/work/hadassah/hada1.jpg" alt="hadassah")
              figcaption
                p Hadassah
      a(href="portfolio").button.button--black View Portfolio