extends layout

block content
  .section.section--fullpage.text-center
    .container
      h1.jumbo David Menendez
      h2 Professional Frontend Web Developer
      h3
        a(href="#").button download resume
        a(href="#").button view portfolio
  .section.text-center
    .container
      .row
        .col.col--3
          i.fa.fa-html5.fa--lg
          h2 Front End
          p HTML5, CSS3, Responsive Design, Javascript, React.js, & jQuery.js
        .col.col--3
          i.fa.fa-code.fa--lg
          h2 Back End
          p Serverside coding with Node.js, PHP, & MySQL
        .col.col--3
          i.fa.fa-code-fork.fa--lg
          h2 Development Tools
          p Version Controll with Git, Adobe Photoshop, & Content Management Systems like Wordpress