extends layout

block content
  section.section.section--fullpage.text-center
    .container
      h1.jumbo David Menendez
      h2 Professional Frontend Web Developer
      h3
        a(href="#").button download resume
        a(href="portfolio").button view portfolio
  section.section.text-center
    .container
      h1 What I do
      p I'm a front end web developer who's able to create eye-appealing and functional websites.
      .row
        .col.col--3
          i.fa.fa-html5.fa--lg.fa--rounded
          h2 Front End
          p HTML5, CSS3, Responsive Design, JavaScript, React.js, & jQuery.js. Knowledge of Cross Browser Compatibility & SEO.
        .col.col--3
          i.fa.fa-code.fa--lg.fa--rounded
          h2 Back End
          p Working knowledge of serverside coding with Node.js, PHP, & MySQL. Experienced with building RESTful APIs.
        .col.col--3
          i.fa.fa-code-fork.fa--lg.fa--rounded
          h2 Development Tools
          p Git, Adobe Photoshop, & Content Management Systems. Working with build tools like Gulp for more effecient delivery & coding.
      h1 Work
      .row
        .col.col--3.workpreview
          a(href="/portfolio")
            figure
              img(src="http://placehold.it/400x400")
              figcaption
                h3 item
        .col.col--3.workpreview
          a(href="/portfolio")
            figure
              img(src="http://placehold.it/400x400")
              figcaption
                h3 item
        .col.col--3.workpreview
          a(href="/portfolio")
            figure
              img(src="http://placehold.it/400x400")
              figcaption
                h3 item