doctype html
html(lang="en")
  head
    title= title
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css' rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,200,700', rel='stylesheet', type='text/css')
    link(href='css/styles.css', rel='stylesheet')
  body
    block content
    footer.text-center
      .container
        .social
          a(href="#").fa.fa-file
          a(href="#").fa.fa-linkedin
          a(href="#").fa.fa-github
          a(href="#").fa.fa-envelope
        small David Menendez &copy 2016