doctype html
html(lang="en")
  head
    title= title
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css' rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,200,700', rel='stylesheet', type='text/css')
    link(href='/css/styles.css', rel='stylesheet')
  body
    block content
    footer.text-center.section
      .container
        .social
          a(href="#" title="resume").fa.fa-file
          a(href="https://www.linkedin.com/in/davidamenendez" title="linkedin" target="_blank").fa.fa-linkedin
          a(href="https://github.com/davidmenendez" title="github" target="_blank").fa.fa-github
          a(href="mailto:david@davidmenendez.net" title="email").fa.fa-envelope
        small David Menendez &copy 2016