doctype html
html(lang="en")
  head
    title= title
    link(href='styles.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Merriweather:300,400', rel='stylesheet')
  body
    block content