extends layout

block link
  -var selected="Portfolio"

block content
  -
    var portfolio = {
      "Hadassah": {
        url: "/portfolio/hadassah",
      }, 
      "Colorado Childrens Hospital": {
        url: "/portfolio/colorado-childrens-hospital",
      }, 
      "Blackbaud": {
        url: "/portfolio/blackbaud",
      }, 
      "Be-A-Character": {
        url: "/portfolio/be-a-character",
      }, 
      "Bridgwater": {
        url: "/portfolio/bridgewater",
      }, 
      "National Hamburger Month": {
        url: "/portfolio/national-hamburger-month",
      }, 
      "Zimmerman Blog": {
        url: "/portfolio/zimmerman-blog",
      }, 
      "Bikestreet USA": {
        url: "/portfolio/bikestreet",
      }, 
      "Hottest Halloween": {
        url: "/portfolio/hottest-halloween",
      }
    }
  include ./nav
  section.section
    .container
      h1 Portfolio
      .portfolio
        .row
          each val, key in portfolio
            .col.col--3.workpreview
              a(href=val.url)
                figure
                  img(src="http://placehold.it/400x400" alt=val)
                  figcaption
                    h3 #{key}