extends layout

block link
  -var selected="Portfolio"

block content
  -
    var portfolio = {
      "hadassah": {
        url: "/portfolio/hadassah",
        alt: "hadassah"
      }, 
      "CHCOF": {
        url: "/portfolio/colorado-childrens-hospital",
        alt: "colorado childrens hospital"
      }, 
      "blackbaud": {
        url: "/portfolio/blackbaud",
        alt: "blackbaud"
      }, 
      "beacharacter": {
        url: "/portfolio/be-a-character",
        alt: "beacharacter"
      }, 
      "bridgewater": {
        url: "/portfolio/bridgewater",
        alt: "bridgewater"
      }, 
      "nhm": {
        url: "/portfolio/national-hamburger-month",
        alt: "national-hamburger-month"
      }, 
      "zblog": {
        url: "/portfolio/zimmerman-blog",
        alt: "zimmerman-blog"
      }, 
      "bikestreet": {
        url: "/portfolio/bikestreet",
        alt: "bikestreet"
      }, 
      "hottest halloween": {
        url: "/portfolio/hottest-halloween",
        alt: "hottest-halloween"
      }
    }
  include ./nav
  section.section
    .container
      h1 Portfolio
      .portfolio
        .row
          each val, key in portfolio
            .col.col--3.workpreview
              a(href=val.url)
                figure
                  img(src="http://placehold.it/400x400" alt=val.alt)
                  figcaption
                    h3 #{key}