extends ../layout

block link
  -var selected="Portfolio"

block content
  include ../nav
  section
    .container
      h2=title
      .row
        .col
          img(src="/images/work/blackbaud/banner.jpg" alt="relay for life").img--banner
      .row
        .col
          img(src="/images/work/blackbaud/mmrf.jpg" alt="Multiple Myeloma Research Foundation")
        .col
          img(src="/images/work/blackbaud/msabc.jpg" alt="making strides against breast cancer")
        .col
          img(src="/images/work/blackbaud/pathfinder.jpg" alt="pathfinder")
      .row
        .col
          img(src="/images/work/blackbaud/rfl.jpg" alt="relay for life")
        .col
          img(src="/images/work/blackbaud/uor.jpg" alt="university of rochester")
        .col
          img(src="/images/work/blackbaud/wish.jpg" alt="make a wish foundation")
      p Clients- American Cancer Society, Kent State University, Make a Wish Foundation, Project HOPE, University of Rochester, Canadian Diabetes Association, Multiple Myeloma Research Foundation, and more
      p The work I do for Blackbaud is primarily front-end related work. A lot of HTML, CSS, and Javascript. At Blackbaud I work with their product called Luminate Online, which is their fundraising software. The work I do can be put into two categories- deployments and retainers.
      p With deployments I do the majority of the front-end work. The process starts with a PSD from one of our designers or a third party vender and ends with a complete cut up of the design into a fully functional and responsive site. Part of this process is integrating the HTML into the product, which is usually used as a template for product built pages.
      p Retainers typically consist of working directly with clients to do bug fixes or small one off projects. This typically involves me working heavily with the product to set up new team raising options. The entire reason for the team I work with is to do custom builds of the product, so there is a lot of manipulation of the product pages with javascript and CSS.
      p Next Project:
      a.button.portfolio-button(href="be-a-character") Be-A-Character