*, 
*:before, 
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
}

section {
  color: #333;
  background: #fff;
  padding: 3rem 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

footer {
  padding: 1.5rem 0;
  background: #333;
  color: #fff;
  text-align: center;
}

.section--red {
  background: $red-lite;
  color: #fff;
}

.resume {
  margin-top: 1rem;
}