.clearfix{
  &:before{
    content: " ";
    display: table;
  }
  &:after{
    clear: both;
    content: " ";
    display: table;
  }
}
.button{
  background: transparent;
  color: #fff;
  padding: 1em 1.5em;
  border: 1px solid #fff;
  border-radius: 4px;
  text-transform: capitalize;
  width: 100%;
  display: block;
  margin: 0 0 1em 0;
  text-align: center;
  &--black{
    border-color: #333;
    color: #333;
  }
  &:hover{
    background: $color--red-hover;
    border-color: $color--red-hover;
    color: #fff;
  }
  @include respond-to(sm){
    width: auto;
    display: inline-block;
    min-width: 200px;
    margin: 0;
  }
}
.button--group{
  .button:first-child{
    @include respond-to(sm){
      margin-right: 2em;
    }
  }
}
.text-center{
  text-align: center;
}
.img{
  &--banner{
    margin-bottom: 2em;
  }
  &--thumbnail{
    margin-bottom: 1em;
  }
}
.social{
  margin-bottom: 1em;
  .fa{
    font-size: 2em;
    margin: 0 1em 0 0;
    display: inline-block;
    &:last-child{
      margin-right: 0;
    }
  }
}