nav {
  display: block;
  padding: 1rem 0;
  h1 {
    font-size: 1rem;
    margin: 0;
    line-height: 1.4;
    font-weight: 400;
  }
  ul {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  li {
    padding: 0;
  }
  a {
    border-bottom: 1px solid transparent;
    padding-bottom: .25rem;
    &:hover {
      color: $red--hover;
      border-color: $red--hover;
    }
  }
  @include respond-to(sm) {
    display: flex;
    justify-content: space-between;
    ul {
      margin-top: 0;
      justify-content: space-between;
    }
    li {
      padding: 0 .5rem;
    }
  }
}

.link--active {
  color: $red--hover;
  border-color: $red--hover;
}