nav{
  padding: 1em 0;
  display: block;
  @include respond-to(sm){
    display: flex;
    justify-content: flex-end;
  }
  h1{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    display: inline-block;
    margin: 0 auto 0 0;
    line-height: 1.4;
  }
  ul{
    list-style: none;
    display: block;
    @include respond-to(sm){
      display: flex;
    }
  }
  li{
    margin: 0 1em 0 0;
    &:last-child{
      margin: 0;
    }
  }
  a{
    color: inherit;
  }
}