.section--full {
  padding: 0;
  min-height: 100vh;
  background: url('../images/splash.jpg') center center fixed;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 1rem;
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 -1rem;
  @include respond-to(sm) {
    flex-direction: row;
  }
}

.col {
  padding: 1rem;
}