extends layout

block content
  section.section--full
    .container
      h1 David Menendez
      h2 Front-End Web Developer
        br
        | Based in Austin, TX
      a(href="files/david_menendez_resume.pdf" target="blank").button resume
      a(href="portfolio").button portfolio
  section.text-center
    .container
      h2 what i do
      .row
        .col
          .fa.fa-globe.skill-ico
          p HTML5, CSS3, Responsive Design, JavaScript, React.js, & jQuery. Knowledge of Cross Browser Compatibility & SEO.
        .col
          .fa.fa-code.skill-ico
          p Working knowledge of serverside coding with Node.js, PHP, Python, & MySQL. Experienced with building RESTful APIs.
        .col
          .fa.fa-coffee.skill-ico
          p Git, Adobe Photoshop, & Content Management Systems. Build tools such as Gulp for more efficient delivery & coding.
      a(href="portfolio").button more
  section.text-center.section--dark
    .container
      h2 what i've done
      .row
        .col
          .fa.fa-globe.skill-ico
          p HTML5, CSS3, Responsive Design, JavaScript, React.js, & jQuery. Knowledge of Cross Browser Compatibility & SEO.
        .col
          .fa.fa-code.skill-ico
          p Working knowledge of serverside coding with Node.js, PHP, Python, & MySQL. Experienced with building RESTful APIs.
        .col
          .fa.fa-coffee.skill-ico
          p Git, Adobe Photoshop, & Content Management Systems. Build tools such as Gulp for more efficient delivery & coding.
      a(href="portfolio").button more