extends layout

block content
  section.section--full
    .container
      h1 David Menendez
      h2 Front-End Web Developer
        br
        | Based in Austin, TX
      a(href="files/david_menendez_resume.pdf" target="blank").button resume
      a(href="portfolio").button portfolio
  section.text-center.section--red
    .container
      h2 What I Do
      p.section-text From UI to API development I have the skills and experience to fit many different roles, positions, and projects.
      .row
        .col.col--scalable
          .fa.fa-user.skill-ico
          h4 Front End
          p HTML5, CSS3, Responsive Design, JavaScript, React.js, & jQuery. Knowledge of Cross Browser Compatibility & SEO.
        .col.col--scalable
          .fa.fa-code.skill-ico
          h4 Back End
          p Working knowledge of serverside coding with Node.js, PHP, & Python. MySQL & MongoDB. Experienced with building RESTful APIs.
        .col.col--scalable
          .fa.fa-cog.skill-ico
          h4 Tools
          p Git, Adobe Photoshop, & Content Management Systems. Gulp, Grunt, Webpack, & many other different NPM packages.
      a(href="about").button.button--white about
  section.text-center
    .container
      h2 What I've Done
      p.section-text With over five years of professional web developer experience I've worked on many different projects for many different clients with work ranging from web apps, content management systems, and microservices.
      .row
        .col.portfolio-entry
          a(href="portfolio")
            figure
              img(src="images/work/bluemix/bm3.jpg" alt="IBM Bluemix")
              figcaption
                p IBM Bluemix
        .col.portfolio-entry
          a(href="portfolio")
            figure
              img(src="images/work/hadassah/hada3.jpg" alt="Hadassah")
              figcaption
                p Hadassah
        .col.portfolio-entry
          a(href="portfolio")
            figure
              img(src="images/work/nhm/national-hamburger-month1.jpg" alt="White Castle National Hamburger Month")
              figcaption
                p NHM
      a(href="portfolio").button portfolio