extends layout

block content
  section.section--full
    .container
      h1 David Menendez
      h2 Front-End Web Developer
        br
        | Based in Austin, TX
      a(href="files/david_menendez_resume.pdf" target="blank").button resume
      a(href="portfolio").button portfolio
  section.text-center
    .container
      h2 what i do
      p As an experienced programmer and web developer I have skills to fit many different roles and projects.
      .row
        .col
          .fa.fa-user.skill-ico
          h4 Front End
          p HTML5, CSS3, Responsive Design, JavaScript, React.js, & jQuery. Knowledge of Cross Browser Compatibility & SEO.
        .col
          .fa.fa-code.skill-ico
          h4 Back End
          p Working knowledge of serverside coding with Node.js, PHP, Python, & MySQL. Experienced with building RESTful APIs.
        .col
          .fa.fa-cog.skill-ico
          h4 Tools
          p Git, Adobe Photoshop, & Content Management Systems. Build tools such as Gulp for more efficient delivery & coding.
      a(href="portfolio").button portfolio
  section.text-center.section--dark
    .container
      h2 what i've done
      p With over five years of professional web developer experience I've worked on many different projects for many different clients with work ranging from web apps, content management systems, and microservices.
      .row
        .col.portfolio-entry
          a(href="portfolio")
            figure
              img(src="images/work/2k12cr/2k122.jpg" alt="2k12CR")
              figcaption
                p 2K12CR
        .col.portfolio-entry
          a(href="portfolio")
            figure
              img(src="images/work/hadassah/hada3.jpg" alt="hadassah")
              figcaption
                p hadassah
        .col.portfolio-entry
          a(href="portfolio")
            figure
              img(src="images/work/nhm/national-hamburger-month1.jpg" alt="nhm")
              figcaption
                p NHM
      a(href="portfolio").button portfolio