*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  line-height: 1.4;
  font-size: 100%;
  font-family: 'Raleway', sans-serif;
  color: #333;
  font-weight: 400;
}
img{
  display: block;
  max-width: 100%;
}
footer{
  background: #eee;
  border-top: 1px solid #e2e2e2;
}

nav{
  padding: 15px 0;
  display: block;
  @include respond-to(sm){
    display: flex;
    justify-content: flex-end;
  }
  h1{
    font-size: 1em;
    font-weight: 400;
    display: inline-block;
    margin: 0 auto 0 0;
    line-height: 1.4;
  }
  ul{
    list-style: none;
    display: block;
    @include respond-to(sm){
      display: flex;
    }
  }
  li{
    margin: 0 15px 0 0;
    &:last-child{
      margin: 0;
    }
  }
  a{
    color: inherit;
  }
}

.workpreview{
  a{
    display: block;
    margin: 0;
  }
  figure{
    position: relative;
    overflow: hidden;
    color: #fff;
    background: $color--red;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 300ms ease;
    &:hover figcaption{
      opacity: 1;
      transition: all 300ms ease;
      &:before{
        transform: scale(1);
        transition: all 300ms ease-in;
      }
    }
    &:hover h3{
      transform: scale(1);
      transition: all 300ms ease;
    }
    &:hover img{
      opacity: .1;
      transform: scale(1);
      transition: all 300ms ease;
    }
  }
  figcaption{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 40px;
    opacity: 0;
    text-align: center;
    transition: all 300ms ease;
    display: flex;
    align-items: center;
    &:before{
      position: absolute;
      top: 30px;
      right: 30px;
      bottom: 30px;
      left: 30px;
      border: 1px solid #fff;
      content: '';
      transform: scale(1.1);
      transition: all 300ms ease;
    }
  }
  img{
    transform: scale(1.12);
    transition: all 300ms ease;
    width: 100%;
  }
  h3{
    transform: scale(1.5);
    transition: all 300ms ease;
    margin: 0 auto;
  }
}