.clear:before,
.clear:after {
  content: " ";
  display: table;
}
.clear:after {
  clear: both;
}
.button{
  background: transparent;
  color: #fff;
  padding: 15px 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  text-transform: capitalize;
  width: 100%;
  display: block;
  min-width: none;
  margin: 0 0 15px 0;
  text-align: center;
  &--black{
    border-color: #333;
    color: #333;
  }
  &:hover{
    background: $color--red-hover;
    border-color: $color--red-hover;
    color: #fff;
  }
  &:first-child{
    margin-right: 15px;
  }
  @include respond-to(sm){
    width: auto;
    display: inline-block;
    min-width: 200px;
    margin: 0;
  }
}
.text-center{
  text-align: center;
}
.img{
  &--banner{
    margin-bottom: 30px;
  }
  &--thumbnail{
    margin-bottom: 15px;
  }
}
.social{
  margin-bottom: 15px;
  .fa{
    font-size: 2em;
    margin: 0 15px 0 0;
    display: inline-block;
    &:last-child{
      margin-right: 0;
    }
  }
}