.workpreview{
  margin: 0 0 15px 0;
  a{
    display: block;
  }
  figure{
    position: relative;
    overflow: hidden;
    color: #fff;
    background: $color--red;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 300ms ease;
    &:hover figcaption{
      opacity: 1;
      transition: all 300ms ease;
      &:before{
        transform: scale(1);
        transition: all 300ms ease;
      }
    }
    &:hover h3{
      transform: scale(1);
      transition: all 300ms ease;
    }
    &:hover img{
      opacity: .1;
      transform: scale(1);
      transition: all 300ms ease;
    }
  }
  figcaption{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 40px;
    opacity: 0;
    text-align: center;
    transition: all 300ms ease;
    display: flex;
    align-items: center;
    &:before{
      position: absolute;
      top: 30px;
      right: 30px;
      bottom: 30px;
      left: 30px;
      border: 1px solid #fff;
      content: '';
      transform: scale(1.1);
      transition: all 300ms ease;
    }
  }
  img{
    transform: scale(1.12);
    transition: all 300ms ease;
    width: 100%;
  }
  h3{
    transform: scale(1.5);
    transition: all 300ms ease;
    margin: 0 auto;
  }
}
.portfolio{
  .row{
    margin: 0;
  }
  .col{
    padding: 0;
  }
  .workpreview{
    margin: 0;
  }
}
.resume{
  &--entry{
    border-bottom: 1px solid #eee;
    margin-top: 15px;
    &:last-child{
      border: 0;
    }
  }
  &--header{
    font-size: 2em;
  }
}