h1, h2, h3{
  line-height: 1.1;
  font-weight: 300;
  margin-bottom: 15px;
}
h1{
  font-size: 3.5em;
  &.jumbo{
    font-size: 4em;
    @include respond-to(sm){
      font-size: 5em;
    }
  }
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1em;
}
p{
  font-size: 1em;
  margin-bottom: 15px;
}
a{
  text-decoration: none;
  color: $color--red;
  font-size: inherit;
}
small{
  font-size: 1em;
}