h1, h2, h3{
  line-height: 1.1;
  font-weight: 300;
}
h1{
}
h2{
}
h3{
}
p{
  font-size: 1em;
}
a{
  text-decoration: none;
  color: $color--red;
  font: inherit;
  transition: all ease 300ms;
  display: inline-block;
  &:hover, &.link--active{
    color: $color--red-hover;
  }
}
small{
  display: block;
}

.fa{
  color: inherit;
  &--lg{
    font-size: 5em;
    margin-bottom: 15px;
  }
  &--rounded{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto 15px auto;
    background: $color--red;
    color: #fff;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    transition: all ease 300ms;
    &:hover{
      background: $color--red-hover;
    }
  }
}

&.jumbo{
  @include respond-to(sm){
  }
}