h1, h2, h3, h4{
  line-height: 1.1;
  font-weight: 200;
  margin: 0 0 .5em 0;
}
h1{
  font-size: 3.842em;
  @include respond-to(sm){
    font-size: 5.378em;
  }
}
h2{
  font-size: 2.744em;
  @include respond-to(sm){
    font-size: 3.842em;
  }
}
h3{
  font-size: 1.96em;
  @include respond-to(sm){
    font-size: 2.744em;
  }
}
h4{
  font-size: 1.4em;
  @include respond-to(sm){
    font-size: 1.96em;
  }
}
p{
  font-size: 1em;
  margin: 0 0 1em 0;
}
a{
  text-decoration: none;
  color: $color--red;
  font: inherit;
  transition: all ease 300ms;
  display: inline-block;
  &:hover, &.link--active{
    color: $color--red-hover;
  }
}
small{
  display: block;
  font-size: 0.714em;
}

.fa{
  color: inherit;
  &--lg{
    font-size: 5em;
  }
  &--rounded{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto .25em auto;
    background: $color--red;
    color: #fff;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    transition: all ease 300ms;
    &:hover{
      background: $color--red-hover;
    }
  }
}