extends ../layout

block link
  -var selected="Portfolio"

block content
  include ../nav
  section.section
    .container.clearfix
      h2=title
      .row.clearfix
        .col.col--1
          img(src="/images/work/bstreet/banner.jpg" alt="bikestreet homepage").img--banner
      .row.clearfix
        .col.col--3
          img(src="/images/work/bstreet/bikestreet1.jpg" alt="bikestreet zimmerman").img--thumbnail
        .col.col--3
          img(src="/images/work/bstreet/bikestreet2.jpg" alt="bikestreet blog").img--thumbnail
        .col.col--3
          img(src="/images/work/bstreet/bikestreet4.jpg" alt="bikestreet news").img--thumbnail
      p *I feel the need to add a disclaimer to this entry- Bikestreet USA was not done solely by me. The website was completely redone by another developer here at Zimmerman and was passed on to me afterwards. Most UI and functionality on the site was not done by me. I did, however do other extensive work and contributed other pages.
      p After the website was redesigned and marked up, the next step was to integrate it into a CMS. Kentico was the chosen CMS, being that Zimmerman does .Net work. I worked heavily with the backend developer to set up the CMS and to integrate all the pages into it. This process took a few weeks to work out some of the functionality involved with the navigation and other backend issues. The pages that were created by me include- blog, events, word on the street, and locations landing pages
      p Once integrated into the CMS the next step would be to add some new pages from scratch, which included- The Events, Blog, and Location landing pages. This was a three step process involving- 1. Working with the Project Managers and Creative to work out the look and feel of the new pages, 2. Markup the pages for approval, and 3. Integrate into the CMS.
      p All pages required work with CSS3, jQuery, multiple jQuery plugin, and use of Googlemap API on the locations landing pages. All pages also required working with the Facebook and Twitter api to set up sharing and tweeting for various posts and events.
      a.button.button--black(href="hottest-halloween") Hottest Halloween