extends ../layout

block link
  -var selected="Portfolio"

block content
  include ../nav
  section.section
    .container
      h2=title
      .row
        .col.col--1
          img(src="/images/work/lennar/banner.jpg" alt="bridgewater homepage").img--banner
      .row
        .col.col--3
          img(src="/images/work/lennar/lennar1.jpg" alt="bridgewater by lennar").img--thumbnail
        .col.col--3
          img(src="/images/work/lennar/lennar2.jpg" alt="bridgewater lightbox").img--thumbnail
        .col.col--3
          img(src="/images/work/lennar/lennar3.jpg" alt="bridgewater listings").img--thumbnail
      p Lennar is a housing company in South Florida and the Lakewood Ranch website is a portal for a new housing community. The site was a quick one month project that features responsive design, carousels, and a nifty little home gallery. For the project I was put as lead developer and only had to work with the artist to get it done.
      p As lead developer it was my duty to work directly with the creative artist and own the project. Set estimates and create a time line. Take full responsibility. I started the responsive layout from a functional wireframe. Slowly building the framework. Researching which plugins and techniques could be used. This is usually the process while we wait for official mocks to be drafted.
      p The site is small and simple enough, but elegant and functional. The Community, Lifestyle, and Location pages use standard HTML and CSS, but the Homes page is a little more involved. The gallery needed to expand and be responsive as well as have an image overlay with printing and social functionality. This page took the most work by far, but came out looking great. The other part that took a little bit of creative thinking was the carousel. The plugin does not natively come with navigation functionality like how it looks, so after a some tinkering I was able to get it to have that nice looking image navigation.
      p The biggest challenge was the form. Because the site was not going to be hosted by Zimmerman I had to wait for contact from the Lennar IT services to get specific information about how to post the form. This information did not come until nearly the end. What was once just an HTML site needed to be converted to an ASP webforms website in order post the form properly. With the help of one of the .Net developers I was able to make sure the site was converted successfully.
      a.button.button--black(href="national-hamburger-month") National Hamburger Month