extends ../layout

block link
  -var selected="Portfolio"

block content
  include ../nav
  .container
    h1=title
    p This project in particular was a challenge due to harsh time constraints and expectations set forth by the client, but luckily was pulled off. This project would be three separate site designs, though they were very similar they each possessed their own unique challenges. My role was lead front-end developer for Team Children's Colorado, Courage Classic ,and Children's Hospital Colorado.
    p Because of the time constraints, the team and I decided that the best approach for the build would be to use a css framework to save time. We went with Bootstrap because I very familiar with it. I also used a few other jQuery plugins along with the bootstrap functionality for additional flair. The initial build took the longest to complete and each other build after was much quicker since it was mostly a few color changes.
    a.button.button--black(href="blackbaud") Blackbaud