extends ../layout

block link
  -var selected="Portfolio"

block content
  include ../nav
  section.section
    .container.clearfix
      h2=title
      .row.clearfix
        .col.col--1
          img(src="/images/work/hadassah/banner.jpg" alt="hadassah").img--banner
      .row.clearfix
        .col.col--3
          img(src="/images/work/hadassah/hada5.jpg" alt="hadassah form").img--thumbnail
        .col.col--3
          img(src="/images/work/hadassah/hada3.jpg" alt="hadassah homepage").img--thumbnail
        .col.col--3
          img(src="/images/work/hadassah/hada4.jpg" alt="hadassah news").img--thumbnail
      p My role for this project was head front-end developer. There were four page designs delivered and needed to be created into three separate pages as well as template for additional pages that would be added into a CMS. Each page with two additional breakpoints for tablet and phone.
      p This was a fairly straight forward build with the accompanying PSDs. All Markup and styling done by me as well as javascript. Because this is a CMS build, once all the HTML was completed it had to be gutted and put into the CMS for templating use.
      a.button.button--black(href="colorado-childrens-hospital") Colorado Childrens Hospital