extends ../layout

block link
  -var selected="Portfolio"

block content
  include ../nav
  section.section
    .container
      h2=title
      .row
        .col.col--1
          img(src="/images/work/hottesthalloween/banner.jpg" alt="hottest halloween").img--banner
      .row
        .col.col--3
          img(src="/images/work/hottesthalloween/hottest-halloween1.jpg" alt="hottest halloween homepage").img--thumbnail
        .col.col--3
          img(src="/images/work/hottesthalloween/hottest-halloween2.jpg" alt="hottest halloween lightbox").img--thumbnail
        .col.col--3
          img(src="/images/work/hottesthalloween/hottest-halloween3.jpg" alt="hottest halloween listing").img--thumbnail
      p Party City's Hottest Halloween was my first professional project done with Zimmerman Advertising. It was a Halloween promotion for Party City that was a social voting platform for users. The premise is you are supposed to follow the contestants in Party Cities search for the hottest girl. This website was also my introduction to .Net. The backend for this site used MVC3. While I was already knowledgable of the concept of model view controller, this was my first major project involving .Net. I quickly picked up the basics to be able to contribute to some of the backend coding of this project.
      p This project was simple enough concept- Just a basic microsite with some image galleries and a voting system at some point. The whole project was over a few months and consisted of 5 phases.
      p Phase 1-
      p This phase was the bulk of the work, which was mainly just creating the entire UI and some basic functionality. The functionality consisted of a video carousel, lightbox with the galleries, and social shares. All images had to be shareable for Facebook and tweetable for Twitter, in addition to having the whole site linked to Facebook, Twitter, and Pinterest API to make the majority of the content social.
      p Phases 2 and 3-
      p These two phases were just a continuation of the first phase and involved adding a new gallery and a new youtube video for each release.
      p Phase 4-
      p Phase four was the only other major update for this microsite, which would include adding a voting system and adding a few new pages. On my end, the new pages would require much more styling and some more galleries. The voting system was set up by the senior on the project, who is the .Net specialist.
      p Phase 5-
      p The final phase consisted of adding a new landing page the announced the winner and turned off voting. A fine farewell to my first project.
      a.button.button--black(href="hadassah") Hadassah