extends ../layout

block link
  -var selected="Portfolio"

block content
  include ../nav
  section.section
    .container
      h1=title
      .row
        .col.col--1
          img(src="http://placehold.it/1000x300" alt="alt").img--banner
      .row
        .col.col--3
          img(src="http://placehold.it/300x300" alt="alt").img--thumbnail
        .col.col--3
          img(src="http://placehold.it/300x300" alt="alt").img--thumbnail
        .col.col--3
          img(src="http://placehold.it/300x300" alt="alt").img--thumbnail
      p The Zimmerman advertising blog is a small internal project for the executives at Zimmerman advertising to publish their professional thoughts. This project came down from our CMO and, while a small project compared to some others, had significant meaning to our department. I was tasked and estimated that based off the creative mock and functional specs that it would take three days to accomplish.
      p The website is in a wordpress format. A simple responsive theme was purchased so that the website reskin could be accomplished quickly, at the request of the CMO. This made my job a little easier, but ultimately would require a few days worth of hacking the php and css to get the look and functions working.
      p While not a very large or complicated project, it did require knowledge of php and wordpress. I'm thankful that wordpress is a great tool for accomplishing small website likes this that allow the user to generate their own content quickly and easily. They wanted social sharing and facebook commenting, which was no problem with the help of a few plugins. Most of the wordpress work I did involved redoing the loops in files like single.php
      p There was also no creative outline for the individual pages and the blog posts, so this was one of the times where I used my best judgment and took some creative liberties. No one seemed to object and found some of my ideas to be good, such as adding links for related posts.
      p Because this was a small project I also used this time to use some of my photoshop knowledge to provide myself with some of the assets for the live page by taking them for the mock. In some instances I find it easier to not wait for others to provide me with assets when I can do it myself in a fraction of the time.
      a.button.button--black(href="bikestreet") BikeStreet